#sidenavGamejam {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #808080;
}

#row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 200px;
}

img {
    border: none;
    width: 480px;
    height: 384px;
}

#rrr {
    background:url(../img/GameJam-RRR.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rrr:hover {
    background:url(../img/GameJam-RRR.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dungeonMaster {
    background:url(../img/GameJam-DungeonMaster.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#dungeonMaster:hover {
    background:url(../img/GameJam-DungeonMaster.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#larryTheSheepsMuseumInvasion {
    background:url(../img/GameJam-LarryTheSheepsMuseumInvasion.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#larryTheSheepsMuseumInvasion:hover {
    background:url(../img/GameJam-LarryTheSheepsMuseumInvasion.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kibouNoImouto {
    background:url(../img/GameJam-KibouNoImouto.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#kibouNoImouto:hover {
    background:url(../img/GameJam-KibouNoImouto.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#newSensations {
    background:url(../img/GameJam-NewSensations.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#newSensations:hover {
    background:url(../img/GameJam-NewSensations.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jovialJudgement {
    background:url(../img/GameJam-JovialJudgement.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#jovialJudgement:hover {
    background:url(../img/GameJam-JovialJudgement.gif);
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

#toFSDfSftPDRRoDwL {
    background:url(../img/GameJam-ToFSDfSftPDRRoDwL.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#toFSDfSftPDRRoDwL:hover {
    background:url(../img/GameJam-ToFSDfSftPDRRoDwL.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#manchaud {
    background:url(../img/GameJam-Manchaud.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#manchaud:hover {
    background:url(../img/GameJam-Manchaud.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#powerDown {
    background:url(../img/GameJam-PowerDown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#powerDown:hover {
    background:url(../img/GameJam-PowerDown.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#hadipoRun {
    background:url(../img/GameJam-HadipoRun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hadipoRun:hover {
    background:url(../img/GameJam-HadipoRun.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#talesOfLayinskia {
    background:url(../img/GameJam-TalesOfLayinskia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#talesOfLayinskia:hover {
    background:url(../img/GameJam-TalesOfLayinskia.gif);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#vespias {
    background:url(../img/GameJam-Vespias.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#vespias:hover {
    background:url(../img/GameJam-Vespias.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}