.row {
    display: flex;
    position: relative;
}

#color1 {
    background-color:#B0B5B3;
}

#color2 {
    background-color:#DBDBDB;
}

#github {
    position: absolute;
    bottom: 5px;
    right: 5px;
}