html {
    background-color: #333;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
}

#intro {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    background-color: #444;
    width: 60%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #222;
    line-height: 22px;
}

#introGithub {
    position: absolute;
    margin-top: -7px;
    margin-left: 5px;
}

bold {
    font-weight: bold;
}

.category {
    background-color: #333;
    padding: 5px;
    border-radius: 25px;
}

a {
    color: inherit;
}

#center {
    text-align: center;
}

#slideshow {
    width: 100px;
    border: solid black 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 550px;
    position: relative;
    margin-bottom: 50px;
}

.slideControl {
    position: absolute;
    margin-top: calc(250px - 25px);
    height: 50px;
    border: none;
}

#previous {
    margin-left: 2px;
}

#next {
    margin-left: calc(550px - 20px);
}

#slideTitle {
    text-align: center;
    color: #ccc;
}

#slideDescriptionContainer {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    color: #ccc;
    background-color: #777777dd;
    width: 530px;
    margin-bottom: 0;
}

#slideDescription {
    margin-bottom: 10px;
}

#slideBackground {
    position: absolute;
    z-index: -1;
}

#slideGithub {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    z-index: 1;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 75%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #555;
    color: white;
}

tr:nth-child(odd) {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #444;
}